@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #d2d2d2;
  box-sizing: border-box;
}


.heading {
 display: block;
  h1 {
    text-align: center;
    /* color:white; */
    /* Center the heading */
    margin-bottom: 1rem;
    /* Add some space below the heading */
  }
}

.container {

}


form {
  width: 18rem;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.75rem;
  background-color: #ffffff;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
}

#height,
#weight {
  display: block;
  border:1px solid #c7c5c5;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 0.5rem;
  box-sizing: border-box;
}



#weight-guide {
  border-radius: 0.75rem;
  width: 16rem;
  height: 120px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

#weight-guide h3 {
  margin-bottom: 10px;
}

#weight-guide {
  line-height: 1.6em;
}



button {
  width: 100%;
  max-width: 300px;
  height: 40px;
  margin: 0 auto;
  background-color: #EE4E34;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}






/* =============popup=================== */





.popup .overlay{
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.601);
  z-index:1;
  display: none;
}

.popup .content{
position: absolute;
top:50%;
left:50%;
border-radius: 0.5rem;
transform: translate(-50%,-50%) scale(0);
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
background: #fff;
width:280px;
height: 200px;
z-index: 2;
text-align: center;
padding: 20px;
box-sizing: border-box;
transition: all 0.1s ease-in-out;
}

.popup .close-btn{
  cursor: pointer;
  position: absolute;
  right: 10px;
  top:10px;
  font-size: 20px;
  width: 30px;
  border-radius: 100%;
  background-color: #cb4040;
  color:white;
}

#results {

  font-weight: bold;
  font-size: 25px;
  /* Slightly reduce font size for better readability */
  margin-top:4rem;
  color: #000000;
  text-align: center;
}

.popup.active .overlay{
  display: block;
}

.popup.active .content{
  transition: all 0.2s ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}


